{%load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" >
    <!__utf a unicode system only eg unicode- giving 4bytes to int in java __>

        <title>{%block title%}lockers{%endblock%}</title>
        <!__ below 2 are the bootstrap references __>
            <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<!__Nav bar__>


<body>

<nav class="navbar navbar-"  id="myScrollspy">
<div class="container-fluid">
<div class="navbar-header">

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">

    <span class="icon-bar"></span> <!__for those 3 bars__>
        <span class="icon-bar"></span>
            <span class="icon-bar"></span>

</button>                                                                           <!__ for 'categories' to get correctly displayed "__>


</div>





   <div class="collapse navbar-collapse" id="topNavBar">
       <ul class= "nav navbar-nav">
  </ul>
       {%if user.is_authenticated%}
   <form class="navbar-form navbar-left" role="search" method="GET" >
   <div class="form-group">
   <input type="text" class="form-control" name="q" placeholder="Search posts here" value="{{request.GET.q}}"/>  </div>

   <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" >&nbsp;Search</span></button>
   </form>
{%endif%}

    {%if user.is_authenticated%}
<li class="nav navbar-nav navbar-right"   >

       <a href = "{% url 'post_new'%}">
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
       Add locker
   </a>
    </li>
{%endif%}

{%comment%}

    <li class="nav navbar-nav " >
       <a href = "{% url '' %}">
       <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
       <font face="ArialBlack" color = "" size="50"></font>User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </a>
   </li>
   
{%endcomment%}
    

{%if not user.is_authenticated%}
      <li  class="nav navbar-nav navbar-right">
             <a href = "{% url 'register' %}">
             <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;
             <font face="ArialBlack" color = "" size="50"></font>Register
         </a>
         </li>
          {%endif%}
    






{%if not user.is_authenticated%}
    <li class="nav navbar-nav navbar-right" >
       <a href = "{% url 'login_user' %}">
       <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
       <font face="ArialBlack" color = "" size="50"></font>Login-Onboarding Dashboard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </a>
   </li>
     {%endif%}

     {%if not user.is_authenticated%}
    <li class="nav navbar-nav navbar-right" >
        <a href = "{% url 'login_operational_user' %}">
       <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
       <font face="ArialBlack" color = "" size="50"></font>Login-Operational Dashboard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </a>
   </li>
     {%endif%}

       
       {%if not user.is_authenticated%}
<img src="http://www.jazva.com/cm/Amazon-logo-700x433.jpg"  align="middle">

{%endif%}

     {%if user.is_authenticated%}
    <li  class="nav navbar-nav navbar-right">
       <a href = "{% url 'logout_view' %}">
       <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
       Logout&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </a>
      </li>
    {%endif%}
    {% if user.is_authenticated %}
          <a href = "{% url 'post_list' %}">
            <button class="btn btn-default"><span class="glyphicon glyphicon-home" aria-hidden="true">Home</span></button>
          </a>
        {%endif%}



{% block login %}
{%endblock%}


{% block part %}
{%endblock%}

{% block content %}
{%endblock%}


    {%comment AA%}
   <a href = "{% url 'users_view'%}">
       <span class="glyphicon glyphicon" aria-hidden="true"></span>&nbsp;
       UsersView
   </a>
    {%endcomment%}


</div>
</div>
</nav>



{% block postdetail %}
{% endblock %}


{% if user.is_authenticated %}
{%block postlist%}  
{%endblock%}
{%endif%}
